{% extends "base.html" %}

{% block extra_head %}
    <script>
    $( document ).ready(function() {
        $('#id_username').attr("placeholder", "Username");
        $('#id_password').attr("placeholder", "Password")
    });
    </script>
{% endblock %}

{% block content %}
<div class="not_already_registered">
    <h3>Not already registered?</h3>
    <p class="large_text">Sign up for a free account and gain access to a whole host of SomCom Apps for your business.</p>
    <a href="/register/" class="button darkgrey">Register</a>
</div>
<div class="login_form">
<h1>Sign In</h1>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
{{ form.as_p }}
</table>

<input type="submit" value="Sign In" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}